/* --------------grobal------------------ */
*,*::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'PlusJakartaSans';
    src:url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format(ttf),
        url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format(ttf),
        url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format(ttf);
}
:root{
   --color-red:hsl(1, 90%, 64%);
   --color-blue:hsl(219, 85%, 26%);
   --color-white:hsl(0,0%,100%);
   --color-g-blue-1:hsl(211, 68%, 94%);
   --color-g-blue-2:hsl(205, 33%, 90%);
   --color-g-blue:hsl(219, 14%, 63%);
   --color-g-blue-3:hsl(219, 12%, 42%);
   --color-d-blue:hsl(224, 21%, 14%);
}
body{
    font-style: 16px;
    font-weight: 500;
    background-color: var(--color-g-blue-1);
    color: var(--color-white);
}
img{
    max-width: 100%;
}
/* ----------------re-usable--------- */
.bg__gray{
    background-color: var(--color-g-blue-1);
}
.bg__red{
   background-color: var(--color-red);
}
.bg__blue{
    background-color: var(--color-blue);
}
.text__hover-blue:hover{
    color: var(--color-blue);
    font-weight: 800;
}
.bg__white{
    background-color: var(--color-white);
}
.bg__gray-blue{
    background-color: var(--color-g-blue);
}
.text__gray{
    color: var(--color-g-blue-3);
}
.text__dark{
    color: var(--color-d-blue);
    font-weight: 800;
}
.text__ligter{
    color: var(--color-g-blue-1);
}
.text__light{
    color: var(--color-g-blue-2);
}
.flex__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: min(40rem,100%);
    padding: 1rem;
    border-radius: 15px;
    margin: 3rem auto;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left {
    display: flex;
    align-items: center;
}
#unread{
    padding: .3em .5em;
    margin-left: 1rem;
    border-radius: 4px;
}
.left{
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
}
.notification{
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
}
img{
    width: 3rem;
}





.name{
    cursor: pointer;
    color: var(--color-d-blue);
    font-weight: 800;
}
.name:hover{
    color: var(--color-blue);
}
.reason{
    color: var(--color-g-blue-3);
}
.about{
    cursor: pointer;
    color: var(--color-g-blue-3);
    font-weight: 800;
}
.about:hover{
    color: var(--color-blue);
}
.time{
    color: var(--color-g-blue-3);
    font-size: 1.1rem;
}
.message{
    border: 1px solid var(--color-g-blue-2);
    padding: .5rem;
    margin: 1rem;
    margin-left: 4rem;
    margin-bottom: 0;
    cursor: pointer;
}
.message:hover{
    background: var(--color-g-blue-1);
}
.picture{
    cursor: pointer;
}
.picture:hover{
    scale: 1.1;
}
@media screen and (max-width:376px){
    .container{
        margin-top: 0;
        border-radius: 0;
    }
    
}